.player-clicked {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	height: 80px;
	width: 100px;
	border-radius: 10px;
	margin: 5px;
	text-align: center;
	box-shadow: 0 0 5px rgba(27, 179, 24, 1);
	border: 1px solid rgba(27, 179, 24, 1);
	background: repeating-linear-gradient(
		45deg,
		#98FB98,
		#98FB98 10px,
		#e0ffe3 10px,
		#e0ffe3 20px
	) !important;
}

.player-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	height: 80px;
	width: 100px;
	border: dotted gray 3px;
	border-radius: 10px;
	background-color: #DCDCDC;
	margin: 5px;
	text-align: center;
}


.in-game {
	background: #98FB98;
	box-shadow: 0 0 5px rgba(27, 179, 24, 1);
	border: 1px solid rgba(27, 179, 24, 1);
}

.in-game:hover {
	cursor: pointer;
	filter: brightness(70%);
}

.in-game:active {
	box-shadow: 0 0 5px -5px rgba(0,0,0,0.6);
}
