.game-side-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.game-title {
	text-align: center;
	font-size: 20px;
	color: #DCDCDC;
}

.game-date {
	text-align: center;
	font-size: 15px;
	color: #DCDCDC;
	margin-bottom: 20px;
}

.player-table:hover {
	cursor: pointer;
}

.main {
	display: flex;
	flex-direction:row;
	align-items: center;
}

.left-container {
	/*margin-top: 50px;*/
	/*margin-bottom: 10px;*/
	padding: 20px;
	height: 100%;
	/*border: solid red 3px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.right-container {
	padding: 20px;
	height: 100%;
	flex-grow: 1;
	/*border: solid blue 3px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.player-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.shot-container {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.stat-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/*border: solid black 3px;*/
}

.button-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.stat-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*border: solid black 1px;*/
	margin: 5px;
	height: 80px;
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.play-by-play {
	flex-grow: 1;
	margin: 5px;
	height: 50%;
	width: 100%;
	border: solid #DCDCDC 1px;
	overflow: auto;
}



