<!DOCTYPE html>
<html lang=en>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'layout/base.css' %}">

<head>
    <title>Take That For Data!</title>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Take that for data!</a>
        <div class="header-right">
            {% if request.user.is_authenticated %}
                <p>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                    <a href="{% url 'logout' %}">Logout</a></p>
                <p>Welcome, {{request.user.username}}</p>
            {% else %}
                <p>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'register' %}">Register</a>
                    <a href="{% url 'login' %}">Login</a></p>
            {% endif %}
            </div>
        </div>
    <hr>
</head>

<body>

{% block content %}

{% endblock content %}

</body>

<hr>
<footer>
    <div class="footer">
        <p>Take That For Data! | Advanced basketball scouting application</p>
    </div>
</footer>

</html>