<!DOCTYPE html>
<html lang=en>

<head>
    <title>Take That For Data!</title>
    {% if request.user.is_authenticated %}
        <p>Hello, {{request.user.username}} | <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'register' %}">Register</a> | <a href="#">Login</a></p>
    {% endif %}

    <hr>
</head>

<body>

{% block content %}

{% endblock content %}

</body>


<footer>
    <hr>
    <p>Take That For Data! | Advanced basketball scouting application</p>
</footer>

</html>