html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.page-footer {
	flex-shrink: 0;
	/*max-height: 200px;*/
}

.header {
	background-color: #F5F5F5;
	padding: 5px;
	border-bottom: 2px solid grey;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.header-left .logo {
	font-family: Marker Felt, Fantasy;
	font-size: 30px;
	color: #EC6E00;
	text-decoration: none;
}

.header-left .logo:hover {
	color: grey;
}

.header-right a {
	font-family: American Typewriter, serif;
	font-size: 20px;
	text-decoration: none;
	color: #333333;
	padding: 2px 6px 2px 6px;
}

.header-right span {
	font-family: American Typewriter, serif;
	text-decoration: none;
	color: gray;
}

.header-right a:hover {
	color: #EC6E00;
}


