.row {
	display: flex;
	flex-direction: column;
	margin: 20px 20px auto;
}

.player-table {
	/*width: 700px;*/
	margin: 20px 20px auto;
	/*background: gray;*/
	/*box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
}

.table-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.table-title .add-player-btn {
	font-weight: bold;
	text-shadow: none;
	border-radius: 50px;
	line-height: 13px;
}

/* Title on top of sidenav */
.sidenav-title {
	border: solid white 1px;
}

/* User block on sidenav */
.sidenav-user {
	background-color: #36454f;
	filter: brightness(150%);
}

.sidenav-category {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 10px auto;
}

.sidenav__list {
    padding: 0;
    list-style-type: none;
  }

  .sidenav__list-item {
    padding: 5px 5px 5px 5px;
    color: #ddd;
  }

  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
