{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- External CSS  -->
<link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">

<!-- login page with crispy form -->

{% csrf_token %}

<div class="login-container">
    
    <div class="card mx-auto">

        <article class="card-body">        

            <div class="card-img top"><i class="icon ion-ios-basketball"></i></div>

                {% crispy login_form %}
                <p class ="text-center"><a href="#">Forgot email or password?</a> </p>
                <p class ="text-center"> Don't have an account? <a href="{% url 'register' %}">Register today!</a> </p>

        </article>

    </div>

</div>

{% endblock content %}

