{% extends 'base.html' %}

{% load static %}

{% block content %}

<body>

<div class="login_body">

<!-- External CSS  -->
<link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">

<!-- Bootstrap  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">



<div class='login-clean'> 

    <form method="post">{% csrf_token %}

        <div class="illustration"><i class="icon ion-ios-basketball"></i></div>

        {% for field in login_form %}
                <div class="form-group">
                    {{ field }}
                </div>
        {% endfor %}

        {% for field in login_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style="color:red;">
                <p>{{login_form.non_field_errors}}</p>
            </div>
        {% endif %}

        <div class='form-group'>
            <button class="btn btn-primary btn-block" type="submit">Log in</button>
        </div>

        <a href="#" class="forgot">Forgot your email or password?</a>

    </form>
</div>
</div>

</body>
{% endblock content %}

