{% extends 'base_dash.html' %}

{% load static %}

{% block side-content %}
<link rel="stylesheet" type="text/css" href="{% static 'game/css/scout_game.css' %}">
<header class="header">
    <nav class="navbar navbar-dark shadow-none" style="background-color: #36454f;">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-basketball-ball"></i></a>
    </nav>
</header>

<div class="game-side-header">
	<div class="game-title">{{request.user.team_name}} vs. {{game.opponent}}</div>
	<div class="game-date">{{game.date}}</div>
</div>

{% endblock side-content %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shots.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'game/css/player.css' %}">


	<div class="player-container">
		{% for player in request.user.player.all %}
			<div class="player-button" onclick="player_clicked(this);">{{player}}</div>
		{% endfor %}
	</div>

	<div class="shot-container">
		<div class="shotchart"></div>
		<div class="stat-container">
			<div class="stat-button-container">
			</div>

			<div class="play-by-play", id="play-by-play">
				<table class="table table-striped"><tbody></tbody></table>
			</div>

		</div>
	</div>

	<script type="text/javascript">
		var player_selected = false;
		var USER_SCORE = 0;
		var OPP_SCORE = 0;
	</script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="{% static 'js/d3-shot-chart.js' %}"></script>
	<script src="{% static 'js/shots.js' %}"></script>
	<script src="{% static 'game/js/scout_game.js' %}"></script>
	<script src="{% static 'game/js/players.js' %}"></script>

	<script type="text/javascript">
		var width = 600;
		draw_mens_ncaa(width);
		var court = d3.select("svg");
		register_shots(court, width);

		add_button_row("Offensive Rebound", "btn-light", "Defensive Rebound","btn-dark");
		add_button_row("Assist", "btn-success", "Turnover","btn-danger");
		add_button_row("Block", "btn-info", "Steal","btn-warning");
		add_button_row("FT Make", "btn-success", "FT Miss","btn-danger");
		add_button_row("Opponent +1", "btn-dark", "Opponent -1", "btn-light");

	</script>

{% endblock content %}