{% extends 'base.html' %}

{% load static %}

<!-- <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script> -->


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'layout/css/dashboard.css' %}">

<!-- Jquery link and Bootstrap for bootstrap modals -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<!--  -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="grid-container">

    <!-- Side bar -->
    <aside class="sidenav dark">
<!--     <ul class="sidenav__list">
        <li class="sidenav__list-item">Item One</li>
        <li class="sidenav__list-item">Item Two</li>
        <li class="sidenav__list-item">Item Three</li>
        <li class="sidenav__list-item">Item Four</li>
        <li class="sidenav__list-item">Item Five</li>
    </ul> -->
  </aside>

  <!-- main content -->
  <main class="main">
    <div class="table-responsive-sm p-3">
        <div class="table-title">
            <div class="row">
                <div>
                    <h3>Team <b>lineup</b></h3>
                </div>
                <div>
                    <button type="button" class="create-player btn btn-primary add-player-btn"><i class="fa fa-plus"></i> Add Player</button>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight (lbs.)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if user.player.all %}
                {% for td in user.player.all %}
                    <tr>
                        <td>{{td.number}}</td>
                        <td>{{td}}</td>
                        <td>{{td.position}}</td>
                        <td>{{td.height}}</td>
                        <td>{{td.weight}}</td>
                        <td class="text-center px-0">
                            <button type="button" class="detail-player btn btn-sm btn-primary p-2" data-id="{% url 'detail_player' pk=td.pk %}">
                                <span class="far fa-eye"></span>
                            </button>
                            <button type="button" class="detail-player btn btn-sm btn-primary p-2" data-id="{% url 'edit_player' pk=td.pk %}">
                                <span class="fas fa-edit"></span>
                            </button>
                            <button type="button" class="detail-player btn btn-sm btn-danger p-2" data-id="{% url 'delete_player' pk=td.pk %}">
                                <span class="fa fa-trash"></span>
                            </button>
                          <!--   <a class="btn btn-default"><em class="fa fa-eye"></em></a>
                            <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                            <a class="btn btn-danger"><em class="fa fa-trash"></em></a> -->
                            <!-- <a type="button" data-toggle="tooltip"><i class="far fa-eye"></i></a>
                            <a type="button" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                            <a type="button" data-toggle="tooltip"><i class="far fa-trash-alt"></i></a> -->
                           <!--  <button type="button" class="btn btn-primary p-0"><i class="far fa-eye"></i></button>
                            <button type="button" class="btn btn-success p-0"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger p-0"><i class="far fa-trash-alt"></i></button> -->
<!--                             <button type="button" class="detail-player btn" data-id="{% url 'detail_player' pk=td.pk %}"><i class="fas fa-eye"></i></button>
                            <button type="button" class="detail-player btn btn-sm btn-primary" data-id="{% url 'detail_player' pk=td.pk %}"><i class="fas fa-eye"></i></button>
                            <button type="button" class="update-player btn btn-sm btn-primary" data-id="{% url 'edit_player' pk=td.pk %}"><i class="fas fa-pencil-alt"></i></button>
                            <button type="button" class="delete-player btn btn-sm btn-danger" data-id="{% url 'delete_player' pk=td.pk %}"><i class="fas fa-trash-alt"></i></button> -->
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">
                            <div class="text-center">
                                <button class="create-player btn btn-primary" type="button" name="button">Add Players</button>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
</div>

<script type="text/javascript">
  $(function () {

    $(".update-team").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".create-player").modalForm({formURL: "{% url 'add_player' %}"});

    $(".detail-player").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".update-player").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".delete-player").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script>

{% endblock content %}

