{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'layout/dashboard.css' %}">

{% if request.user.is_authenticated %}
    <h1 class="name">{{request.user.team_name}}</h1>
    <h3>{{request.user.team_location}}</h3>

<a href="{% url 'player' %}">Edit Team / Add Players</a>

    {% if user.player.all %}
        <ul>
        {% for td in user.player.all %}
            <li><p>{{td}}</p></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No players have been added yet.</p>
    {% endif %}

{% endif %}


{% endblock content %}

